In [1]:
%reload_kedro

2020-03-18 15:37:13,414 - root - INFO - ** Kedro project Kedro Tutorial
2020-03-18 15:37:13,417 - root - INFO - Defined global variable `context` and `catalog`

In [4]:
data = context.catalog.load('companies')

2020-03-18 15:40:37,105 - kedro.io.data_catalog - INFO - Loading data from `companies` (CSVLocalDataSet)...

In [5]:
data.shape

(77096, 5)

In [6]:
context.catalog.pa

['companies',
 'reviews',
 'shuttles',
 'preprocessed_companies',
 'preprocessed_shuttles',
 'regressor',
 'parameters',
 'params:test_size',
 'params:random_state',
 'params:feature_pipeline']

In [5]:
data.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t